/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";
 // @import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
 @import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


 .oswald-font{
  font-family: 'Oswald', sans-serif;
  a{
    font-family: 'Oswald', sans-serif;
  }
}

.thirsty-font{
  font-family: 'thirsty_scriptlight'!important;
}


body{
 font-family: 'proxima_nova_rgregular'!important;
}


body, html {
  height: auto!important;
}



.mobile-only{
 @media (min-width: 992px){
  display: none !important;
}
}
.desktop-only{
  @media (max-width: 991px){
    display: none !important;
  }
}


.desktop-logo{
  display: block;
  img{
    display: block;
    margin: 0px auto;
    text-align: center;
    padding: 20px 0;
  }
}

.ui.button.white-btn{
  background: #fff!important;
  .visible.content{
    color: #000!important;
  }
  .hidden.content{
    color: #000!important;
  }
}

.ui.button.black-btn{
  background: #000!important;
  .visible.content{
    color: #fff!important;
  }
  .hidden.content{
    color: #000!important;
  }
}

.ui.button{
  border-radius: 0!important;
}


.watch-main-deskription{
  margin: 20px 0;
  .header{
    font-size: 48px!important;
  }
}


.watch-main-deskription{
  @media (min-width: 768px){
    .ui.items>.item>.image:not(.ui) {
      width: 50%;
    }
  }
  @media (min-width: 1024px){
    .ui.items>.item>.image:not(.ui) {
      width: 560px;
    }
  }
}

.mobile-logo{
  img{
    max-width: 100%;
    width: 225px;
    display: block;
    margin: 0 auto;
  }
}

.mobile-btn{
  display: block;
  color: #000;
  float: left;
  height: 15px;
  width: 15px;
  font-size: 25px;
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
}


.mobile-header {
  overflow: hidden;
  margin: 10px 0;
  position: relative;
  padding: 5px 0;
  margin-top: 0;
}

.ui.attached.stackable.menu.desktop-only{
  a{
    font-size: 13px;
  }
}


.divider{
  clear: both;
  margin: 30px 0;
  position: relative;
  height: 2px;
  width: 100%;
  background: #CBCDC9;
  &:after{
    content: '';
    position: absolute;
    background-image: url(../images/border-center-sq.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 10px;
    width: 24px;
    left: 50%;
    margin-left: -12px;
    top: 50%;
    margin-top: -5px;
  }
}

h2{
  font-size: 30px;
}
.bold-font{
  font-weight: 700;
}

.watches-tab-wrap-header{
  @media (min-width: 992px){
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  h2{
    text-align: center;
    margin-bottom: 15px;
  }
  p{
    font-size: 12px;
    text-align: center;
    line-height: 1.5em;
  }
}

.watches-tab{
  .ui.vertical.menu{
    width: auto!important;
  }
  .ui.vertical.tabular.menu .active.item{
    @media (min-width: 768px){
      background: #F5F5F4!important;
      color: rgba(0,0,0,.95);
      border-color: transparent!important;
      margin: 0 -1px 0 0;
      border-radius: 0!important;
      position: relative;
      &:before{
        position: absolute;
        content: 'test';
        background-color: #fff;
        left: 0;
        width: 0px;
        height: 0px;
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 60px solid #fff;
      }
    }
  }
}

header{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  .sticky-logo{
    display: none;
  }
  .normal-logo{
    display: block;
  }
}
.header--JS{
  position: fixed;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  top: 0%;
  background: rgba(255,255,255,0.85);
  width: 100%;
  overflow: hidden;
  left: 0;
  z-index: 999;
  .ui.attached.stackable.menu.desktop-only.oswald-font{
    // position: fixed;
    // bottom: inherit;
    // top: 0;
    // left: 0;
    // width: 100%!important;
    background: rgba(255,255,255,0.85);
    background: transparent;

  }
  .normal-logo{
    display: none;
  }
  .sticky-logo{
    display: block;
    max-width: 30%;
    margin: 5px auto;
    height: auto;
    width: auto;
  }
}


.tabular-content-img{
  a{
    display: block;
    overflow: hidden;
    img{
      transition: all .2s ease-in-out;
      transform: scale(1);
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    span{
      display: block;
      color: #000;
      font-size: 13px;
      text-transform: uppercase;
      position: relative;
      z-index: 99;
      text-align: center;
      background: linear-gradient(to left, #fff 50%, rgba(0,0,0,0.3) 50%);
      background-size: 200% 100%;
      background-position:right bottom;
      // margin-left:10px;
      transition:all 1s ease;
      padding: 10px;
      margin-right: -1px;
      font-family: 'proxima_nova_ltsemibold'!important;
      @media (min-width: 768px){
        // max-width: 70%;
        text-align: left;
      }
    }
    &:hover{
      img{
        transition: all .2s ease-in-out;
        transform: scale(1.05);
      }
      span{
        background-position:left bottom;
        color: #fff;
        position: relative;
      }
    }
  }
}

footer{
 @media (max-width: 767px){
  h5{
    text-align: center;
  }
  .column{
    border-bottom: 1px solid #000;
    &:last-child{
      border-bottom: none;
    }
  }
}
}

.footer-blog{
  margin: 0;
  padding: 0;
  li{
    margin: 0;
    padding: 0;
    display: block;
    &:first-child{
      a{
        border-bottom: 1px dashed #000;
        padding-bottom: 15px;
      }
    }
    a{
      padding-top: 15px;
      display: block;
      color: #000;
      font-size: 13px;
      line-height: 1.3em;
      padding-left: 35px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        left: 0;
        background-image: url(../images/right-logo.png);
        height: 22px;
        width: 22px;
        background-repeat: no-repeat;
        background-position: center;
        top: 50%;
        margin-top: -11px;
      }
    }
  }
}

.instagram-block{
  padding-top: 15px;
  @media (max-width: 767px){
    img{
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}


.pushable{
  overflow-x: initial!important;
}

.header-with-background{
  display: block;
  text-align: center;
  background-image: url(../images/king-logo_03.png);
  height: 8px;
  width: 11px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.site-map-wrap{
  .social-wrap{
    padding-top: 15px;
    overflow: hidden;
    clear: both;
    background-image: url(../images/frz-logo_07.png);
    background-position: center;
    background-repeat: no-repeat;
    li{
      float: left;
      width: 50%;
      margin: 10px 0;
      a{
        display: block;
        margin: 0 auto;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        height: 35px;
        width: 34px;
      }
      &.facebook {
        a{
          background-image: url(../images/social-logo_01.png);
        }
      }
      &.twitter {
        a{
          background-image: url(../images/social-logo_03.png);
        }
      }
      &.pinterest {
        a{
          background-image: url(../images/social-logo_07.png);
        }
      }
      &.instagram {
        a{
          background-image: url(../images/social-logo_09.png);
        }
      }
    }
  }
}

.site-map-wrap{
  @media (min-width: 1024px){
    padding: 0 85px;
  }
}

.sitemap{
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both;
  li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    width: 25%;
    margin: 5px 0;
    a{
      display: block;
      color: #000;
      font-size: 10px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
    }
  }
}

.copyright{
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;
  clear: both;
}
// html{
//   background-image: url(../images/html-background.png);
//   background-position: top left;
//   background-repeat: repeat-y;
// }


.ui.attached.stackable.menu.desktop-only.oswald-font{
  border-right: 0;
  border-left: 0px;
  padding-left: 25px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    width: 40px;
    height: 44px;
    // border-top: 22.5px solid transparent;
    // border-bottom: 22.5px solid transparent;
    // border-left: 22.5px solid #fff;
    // border: 1px solid #D4D4D5;
    background-image:url(../images/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center;  
  }
  .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 0px!important;
    background: rgba(34,36,38,.1);
  }
}

.start-page--JS{
  // padding-top: 171px;
  @media (max-width: 767px){
    // padding-top: 55px;
  }
}

.mobile-finder {
  display: block;
  color: #000;
  float: right;
  height: 15px;
  width: 15px;
  font-size: 25px;
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  right: 15px;
}

a.mobile-logo.sidebar-logo.mobile-only {
  padding: 15px 0;
  display: block;
}

.sidebar-icons{
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both;
  li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    width: 33%;
    a{
      display: block;
      color: #000;
      text-align: center;
      padding: 10px 0;
    }
  }
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.my-account{
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
    float: left;
    &:first-child{
      margin-right: 10px;
    }
    a{
      display: block;
      color: #000;
      font-size: 10px;
    }
  }
}

.cell-number{
  color: #000;
  font-size: 13px;
}

.tab-menu{
  h4{
    padding-left: 1.42857em;
    padding-left: 30px!important;
  }
  .item{
    font-family: 'proxima_nova_ltlight';
    cursor: pointer;
    position: relative;
    padding-left: 30px!important;
  }
  .item.active{
    &:after{
      position: absolute;
      content: '';
      left: -1px;
      z-index: 993;
      width: 0px;
      height: 0px;
      border-top: 24.75px solid transparent;
      border-bottom: 24.75px solid transparent;
      border-left: 24.75px solid #fff;
      top: 0;
    }
  }
}

.about-text-wrap{
  img{
    max-width: 100%;
    @media (max-width: 768px){
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
  h3{
    font-size: 32px;
    margin-bottom: 20px;
  }
  p{
    font-size: 16px;
    line-height: 1.5em;
    text-align: justify;
  }
}

.pusher.dimmed{
  .header--JS{
    position: inherit!important;
  }
}

.ui.attached.stackable.menu.desktop-only.oswald-font{
  a.item{
    background: #F6F6F5;
  }
  .right.menu{
   a.item{
    background: transparent;
  }
  a.item.active{
    background: transparent!important;
    border-radius: 0;
    position: relative;
  }
}
a.item.active{
    // background: transparent!important;
    border-radius: 0;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: 5px;
      width: 100%;
      left: 50%;
      height: 2px;
      background: #000;
      max-width: 70%;
      margin-left: -35%;
    }
  }
}
.ui.attached.stackable.menu.desktop-only.oswald-font>.item:first-child{
  border-radius: 0;
}

.ui.tabular.vertical.menu.tab-menu{
  @media (max-width: 767px){
    h4{
      text-align: center;
      margin: 10px 0;
      padding: 0 !important;
      border-bottom: 1px solid #000;
      padding-bottom: 15px!important;
      display: block;
      overflow: hidden;
    }
    border-right: 0;
    .item{
      display: inline-block !important;
      bottom: 0 !important;
      padding: 0 !important;
      float: left;
      width: 14%;
      width: calc(100% / 7);
      padding: 0 1.125%!important;
      text-align: center;
      &.active{
        border: 0 !important;
        &:after{
          content: none;
        }
      }
      @media (max-width: 639px){
       width: calc(100% / 3);
       margin: 10px 0;
       border: 1px solid #000!important;
       border-radius: 0!important;
       // border-right: 0;
       padding: 10px!important;
       &.active{
        border: 1px solid #000!important;
        background-color: rgba(0,0,0,0.2);
      }
    }
  }
}
}


.with-anglee{
  @media (min-width: 1200px){
    position: relative;
    // background-image: url(../images/html-background.png);
    // background-position: top left;
    // background-repeat: repeat-y;
    &:after{
      content: '';
      position: absolute;
      left: -4.95em;
      top: 0px;
      // border-top: 0px solid transparent;
      // border-bottom: 1306.89px solid transparent;
      // border-right: 6em solid #fff;
      height: 100%;
      width: 5em;
      background-image: url(../images/background-anglee.png);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:before{
      content: '';
      position: absolute;
      right: -4.95em;
      top: 0px;
      // border-top: 0px solid transparent;
      // border-bottom: 1306.89px solid transparent;
      // border-right: 6em solid #fff;
      height: 100%;
      width: 5em;
      background-image: url(../images/background-anglee-right.png);
      background-position: right top;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.instagram-block img{
  max-width: 100%;
}

body{
  @media (min-width: 1200px){
    background-image: url(../images/background.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.with-anglee{
  background: #fff;
  padding: 0 10px;
}