/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
/* line 5, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
.oswald-font {
  font-family: 'Oswald', sans-serif;
}
/* line 13, ../sass/screen.scss */
.oswald-font a {
  font-family: 'Oswald', sans-serif;
}

/* line 18, ../sass/screen.scss */
.thirsty-font {
  font-family: "thirsty_scriptlight" !important;
}

/* line 23, ../sass/screen.scss */
body {
  font-family: "proxima_nova_rgregular" !important;
}

/* line 28, ../sass/screen.scss */
body, html {
  height: auto !important;
}

@media (min-width: 992px) {
  /* line 34, ../sass/screen.scss */
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 991px) {
  /* line 39, ../sass/screen.scss */
  .desktop-only {
    display: none !important;
  }
}

/* line 46, ../sass/screen.scss */
.desktop-logo {
  display: block;
}
/* line 48, ../sass/screen.scss */
.desktop-logo img {
  display: block;
  margin: 20px auto;
  text-align: center;
}

/* line 55, ../sass/screen.scss */
.ui.button.white-btn {
  background: #fff !important;
}
/* line 57, ../sass/screen.scss */
.ui.button.white-btn .visible.content {
  color: #000 !important;
}
/* line 60, ../sass/screen.scss */
.ui.button.white-btn .hidden.content {
  color: #000 !important;
}

/* line 65, ../sass/screen.scss */
.ui.button.black-btn {
  background: #000 !important;
}
/* line 67, ../sass/screen.scss */
.ui.button.black-btn .visible.content {
  color: #fff !important;
}
/* line 70, ../sass/screen.scss */
.ui.button.black-btn .hidden.content {
  color: #000 !important;
}

/* line 75, ../sass/screen.scss */
.ui.button {
  border-radius: 0 !important;
}

/* line 80, ../sass/screen.scss */
.watch-main-deskription {
  margin: 20px 0;
}
/* line 82, ../sass/screen.scss */
.watch-main-deskription .header {
  font-size: 48px !important;
}

@media (min-width: 768px) {
  /* line 90, ../sass/screen.scss */
  .watch-main-deskription .ui.items > .item > .image:not(.ui) {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  /* line 95, ../sass/screen.scss */
  .watch-main-deskription .ui.items > .item > .image:not(.ui) {
    width: 560px;
  }
}

/* line 102, ../sass/screen.scss */
.mobile-logo img {
  max-width: 100%;
  width: 225px;
  display: block;
  margin: 0 auto;
}

/* line 110, ../sass/screen.scss */
.mobile-btn {
  display: block;
  color: #000;
  float: left;
  height: 15px;
  width: 15px;
  font-size: 25px;
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
}

/* line 123, ../sass/screen.scss */
.mobile-header {
  overflow: hidden;
  margin: 10px 0;
  position: relative;
  padding: 5px 0;
}

/* line 131, ../sass/screen.scss */
.ui.attached.stackable.menu.desktop-only a {
  font-size: 13px;
}

/* line 137, ../sass/screen.scss */
.divider {
  clear: both;
  margin: 30px 0;
  position: relative;
  height: 2px;
  width: 100%;
  background: #CBCDC9;
}
/* line 144, ../sass/screen.scss */
.divider:after {
  content: '';
  position: absolute;
  background-image: url(../images/border-center-sq.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 10px;
  width: 24px;
  left: 50%;
  margin-left: -12px;
  top: 50%;
  margin-top: -5px;
}

/* line 159, ../sass/screen.scss */
h2 {
  font-size: 30px;
}

/* line 162, ../sass/screen.scss */
.bold-font {
  font-weight: 700;
}

@media (min-width: 992px) {
  /* line 166, ../sass/screen.scss */
  .watches-tab-wrap-header {
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
}
/* line 172, ../sass/screen.scss */
.watches-tab-wrap-header h2 {
  text-align: center;
  margin-bottom: 15px;
}
/* line 176, ../sass/screen.scss */
.watches-tab-wrap-header p {
  font-size: 12px;
  text-align: center;
  line-height: 1.5em;
}

/* line 184, ../sass/screen.scss */
.watches-tab .ui.vertical.menu {
  width: auto !important;
}
@media (min-width: 768px) {
  /* line 187, ../sass/screen.scss */
  .watches-tab .ui.vertical.tabular.menu .active.item {
    background: #F5F5F4 !important;
    color: rgba(0, 0, 0, 0.95);
    border-color: transparent !important;
    margin: 0 -1px 0 0;
    border-radius: 0 !important;
    position: relative;
  }
  /* line 195, ../sass/screen.scss */
  .watches-tab .ui.vertical.tabular.menu .active.item:before {
    position: absolute;
    content: 'test';
    background-color: #fff;
    left: 0;
    width: 0px;
    height: 0px;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #fff;
  }
}

/* line 210, ../sass/screen.scss */
header {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 215, ../sass/screen.scss */
header .sticky-logo {
  display: none;
}
/* line 218, ../sass/screen.scss */
header .normal-logo {
  display: block;
}

/* line 222, ../sass/screen.scss */
.header--JS {
  position: fixed;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  top: 0%;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  overflow: hidden;
  left: 0;
  z-index: 999;
}
/* line 234, ../sass/screen.scss */
.header--JS .ui.attached.stackable.menu.desktop-only.oswald-font {
  background: rgba(255, 255, 255, 0.85);
  background: transparent;
}
/* line 244, ../sass/screen.scss */
.header--JS .normal-logo {
  display: none;
}
/* line 247, ../sass/screen.scss */
.header--JS .sticky-logo {
  display: block;
  max-width: 30%;
  margin: 5px auto;
  height: auto;
  width: auto;
}

/* line 258, ../sass/screen.scss */
.tabular-content-img a {
  display: block;
  overflow: hidden;
}
/* line 261, ../sass/screen.scss */
.tabular-content-img a img {
  transition: all .2s ease-in-out;
  transform: scale(1);
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* line 268, ../sass/screen.scss */
.tabular-content-img a span {
  display: block;
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  z-index: 99;
  text-align: center;
  background: linear-gradient(to left, #fff 50%, rgba(0, 0, 0, 0.3) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease;
  padding: 10px;
  margin-right: -1px;
  font-family: "proxima_nova_ltsemibold" !important;
}
@media (min-width: 768px) {
  /* line 268, ../sass/screen.scss */
  .tabular-content-img a span {
    text-align: left;
  }
}
/* line 290, ../sass/screen.scss */
.tabular-content-img a:hover img {
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}
/* line 294, ../sass/screen.scss */
.tabular-content-img a:hover span {
  background-position: left bottom;
  color: #fff;
  position: relative;
}

@media (max-width: 767px) {
  /* line 305, ../sass/screen.scss */
  footer h5 {
    text-align: center;
  }
  /* line 308, ../sass/screen.scss */
  footer .column {
    border-bottom: 1px solid #000;
  }
  /* line 310, ../sass/screen.scss */
  footer .column:last-child {
    border-bottom: none;
  }
}

/* line 317, ../sass/screen.scss */
.footer-blog {
  margin: 0;
  padding: 0;
}
/* line 320, ../sass/screen.scss */
.footer-blog li {
  margin: 0;
  padding: 0;
  display: block;
}
/* line 325, ../sass/screen.scss */
.footer-blog li:first-child a {
  border-bottom: 1px dashed #000;
  padding-bottom: 15px;
}
/* line 330, ../sass/screen.scss */
.footer-blog li a {
  padding-top: 15px;
  display: block;
  color: #000;
  font-size: 13px;
  line-height: 1.3em;
  padding-left: 35px;
  position: relative;
}
/* line 338, ../sass/screen.scss */
.footer-blog li a:before {
  content: '';
  position: absolute;
  left: 0;
  background-image: url(../images/right-logo.png);
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  margin-top: -11px;
}

/* line 354, ../sass/screen.scss */
.instagram-block {
  padding-top: 15px;
}
@media (max-width: 767px) {
  /* line 357, ../sass/screen.scss */
  .instagram-block img {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

/* line 366, ../sass/screen.scss */
.pushable {
  overflow-x: initial !important;
}

/* line 370, ../sass/screen.scss */
.header-with-background {
  display: block;
  text-align: center;
  background-image: url(../images/king-logo_03.png);
  height: 8px;
  width: 11px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

/* line 382, ../sass/screen.scss */
.site-map-wrap .social-wrap {
  padding-top: 15px;
  overflow: hidden;
  clear: both;
  background-image: url(../images/frz-logo_07.png);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 389, ../sass/screen.scss */
.site-map-wrap .social-wrap li {
  float: left;
  width: 50%;
  margin: 10px 0;
}
/* line 393, ../sass/screen.scss */
.site-map-wrap .social-wrap li a {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 35px;
  width: 34px;
}
/* line 403, ../sass/screen.scss */
.site-map-wrap .social-wrap li.facebook a {
  background-image: url(../images/social-logo_01.png);
}
/* line 408, ../sass/screen.scss */
.site-map-wrap .social-wrap li.twitter a {
  background-image: url(../images/social-logo_03.png);
}
/* line 413, ../sass/screen.scss */
.site-map-wrap .social-wrap li.pinterest a {
  background-image: url(../images/social-logo_07.png);
}
/* line 418, ../sass/screen.scss */
.site-map-wrap .social-wrap li.instagram a {
  background-image: url(../images/social-logo_09.png);
}

@media (min-width: 1024px) {
  /* line 426, ../sass/screen.scss */
  .site-map-wrap {
    padding: 0 85px;
  }
}

/* line 432, ../sass/screen.scss */
.sitemap {
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both;
}
/* line 437, ../sass/screen.scss */
.sitemap li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 25%;
  margin: 5px 0;
}
/* line 444, ../sass/screen.scss */
.sitemap li a {
  display: block;
  color: #000;
  font-size: 10px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

/* line 454, ../sass/screen.scss */
.copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;
  clear: both;
}

/* line 469, ../sass/screen.scss */
.ui.attached.stackable.menu.desktop-only.oswald-font {
  border-right: 0;
  border-left: 0px;
  padding-left: 25px;
  position: relative;
}
/* line 474, ../sass/screen.scss */
.ui.attached.stackable.menu.desktop-only.oswald-font:before {
  content: '';
  position: absolute;
  left: 0;
  width: 40px;
  height: 44px;
  background-image: url(../images/arrow-left.png);
  background-repeat: no-repeat;
  background-position: center;
}
/* line 488, ../sass/screen.scss */
.ui.attached.stackable.menu.desktop-only.oswald-font .item:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 0px !important;
  background: rgba(34, 36, 38, 0.1);
}

/* line 506, ../sass/screen.scss */
.mobile-finder {
  display: block;
  color: #000;
  float: right;
  height: 15px;
  width: 15px;
  font-size: 25px;
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  right: 15px;
}

/* line 519, ../sass/screen.scss */
a.mobile-logo.sidebar-logo.mobile-only {
  padding: 15px 0;
  display: block;
}

/* line 524, ../sass/screen.scss */
.sidebar-icons {
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both;
}
/* line 529, ../sass/screen.scss */
.sidebar-icons li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 33%;
}
/* line 535, ../sass/screen.scss */
.sidebar-icons li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 10px 0;
}

/* line 544, ../sass/screen.scss */
.pull-left {
  float: left;
}

/* line 547, ../sass/screen.scss */
.pull-right {
  float: right;
}

/* line 551, ../sass/screen.scss */
.my-account {
  margin: 0;
  padding: 0;
}
/* line 554, ../sass/screen.scss */
.my-account li {
  display: inline-block;
  float: left;
}
/* line 557, ../sass/screen.scss */
.my-account li:first-child {
  margin-right: 10px;
}
/* line 560, ../sass/screen.scss */
.my-account li a {
  display: block;
  color: #000;
  font-size: 10px;
}

/* line 568, ../sass/screen.scss */
.cell-number {
  color: #000;
  font-size: 13px;
}

/* line 574, ../sass/screen.scss */
.tab-menu h4 {
  padding-left: 1.42857em;
  padding-left: 30px !important;
}
/* line 578, ../sass/screen.scss */
.tab-menu .item {
  font-family: 'proxima_nova_ltlight';
  cursor: pointer;
  position: relative;
  padding-left: 30px !important;
}
/* line 585, ../sass/screen.scss */
.tab-menu .item.active:after {
  position: absolute;
  content: '';
  left: -1px;
  z-index: 993;
  width: 0px;
  height: 0px;
  border-top: 24.75px solid transparent;
  border-bottom: 24.75px solid transparent;
  border-left: 24.75px solid #fff;
  top: 0;
}

/* line 601, ../sass/screen.scss */
.about-text-wrap img {
  max-width: 100%;
}
@media (max-width: 768px) {
  /* line 601, ../sass/screen.scss */
  .about-text-wrap img {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
/* line 609, ../sass/screen.scss */
.about-text-wrap h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
/* line 613, ../sass/screen.scss */
.about-text-wrap p {
  font-size: 16px;
  line-height: 1.5em;
  text-align: justify;
}

/* line 621, ../sass/screen.scss */
.pusher.dimmed .header--JS {
  position: inherit !important;
}

/* line 627, ../sass/screen.scss */
.ui.attached.stackable.menu.desktop-only.oswald-font a.item {
  background: #F6F6F5;
}
/* line 631, ../sass/screen.scss */
.ui.attached.stackable.menu.desktop-only.oswald-font .right.menu a.item {
  background: transparent;
}
/* line 634, ../sass/screen.scss */
.ui.attached.stackable.menu.desktop-only.oswald-font .right.menu a.item.active {
  background: transparent !important;
  border-radius: 0;
  position: relative;
}
/* line 640, ../sass/screen.scss */
.ui.attached.stackable.menu.desktop-only.oswald-font a.item.active {
  border-radius: 0;
  position: relative;
}
/* line 644, ../sass/screen.scss */
.ui.attached.stackable.menu.desktop-only.oswald-font a.item.active:after {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 50%;
  height: 2px;
  background: #000;
  max-width: 70%;
  margin-left: -35%;
}

/* line 657, ../sass/screen.scss */
.ui.attached.stackable.menu.desktop-only.oswald-font > .item:first-child {
  border-radius: 0;
}

@media (max-width: 767px) {
  /* line 661, ../sass/screen.scss */
  .ui.tabular.vertical.menu.tab-menu {
    border-right: 0;
  }
  /* line 663, ../sass/screen.scss */
  .ui.tabular.vertical.menu.tab-menu h4 {
    text-align: center;
    margin: 10px 0;
    padding: 0 !important;
    border-bottom: 1px solid #000;
    padding-bottom: 15px !important;
    display: block;
    overflow: hidden;
  }
  /* line 673, ../sass/screen.scss */
  .ui.tabular.vertical.menu.tab-menu .item {
    display: inline-block !important;
    bottom: 0 !important;
    padding: 0 !important;
    float: left;
    width: 14%;
    width: calc(100% / 7);
    padding: 0 1.125% !important;
    text-align: center;
  }
  /* line 682, ../sass/screen.scss */
  .ui.tabular.vertical.menu.tab-menu .item.active {
    border: 0 !important;
  }
  /* line 684, ../sass/screen.scss */
  .ui.tabular.vertical.menu.tab-menu .item.active:after {
    content: none;
  }
}
@media (max-width: 767px) and (max-width: 639px) {
  /* line 673, ../sass/screen.scss */
  .ui.tabular.vertical.menu.tab-menu .item {
    width: calc(100% / 3);
    margin: 10px 0;
    border: 1px solid #000 !important;
    border-radius: 0 !important;
    padding: 10px !important;
  }
  /* line 695, ../sass/screen.scss */
  .ui.tabular.vertical.menu.tab-menu .item.active {
    border: 1px solid #000 !important;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1200px) {
  /* line 705, ../sass/screen.scss */
  .with-anglee {
    position: relative;
  }
  /* line 711, ../sass/screen.scss */
  .with-anglee:after {
    content: '';
    position: absolute;
    left: -5.969em;
    top: -20px;
    border-top: 0px solid transparent;
    border-bottom: 1306.89px solid transparent;
    border-right: 6em solid #fff;
    height: 0;
    width: 0;
    background-image: url(../images/background.png);
    background-position: left top;
    background-repeat: no-repeat;
  }
  /* line 725, ../sass/screen.scss */
  .with-anglee:before {
    content: '';
    position: absolute;
    right: -5.969em;
    top: -20px;
    border-top: 0px solid transparent;
    border-bottom: 1306.89px solid transparent;
    border-left: 6em solid #fff;
    height: 0;
    width: 0;
    background-image: url(../images/background.png);
    background-position: right top;
    background-repeat: no-repeat;
  }
}

/* line 742, ../sass/screen.scss */
.instagram-block img {
  max-width: 100%;
}
